In [1]:
import pandas as pd
from sqlalchemy import create_engine

## Store CSV int DataFrame

In [2]:
diversityindex_data = "Resources/diversityindex.csv"
index_data =pd.read_csv(diversityindex_data)
index_data.head()

,Location,Diversity-Index,"Black or African American alone, percent, 2013","American Indian and Alaska Native alone, percent, 2013","Asian alone, percent, 2013","Native Hawaiian and Other Pacific Islander alone, percent,","Two or More Races, percent, 2013","Hispanic or Latino, percent, 2013","White alone, not Hispanic or Latino, percent, 2013"
0,"Aleutians West Census Area, AK",0.769346,7.4,13.8,31.1,2.3,4.8,14.6,29.2
1,"Queens County, NY",0.742224,20.9,1.3,25.2,0.2,2.7,28.0,26.7
2,"Maui County, HI",0.740757,0.8,0.6,28.8,10.6,23.3,10.7,31.5
3,"Alameda County, CA",0.740399,12.4,1.2,28.2,1.0,5.2,22.7,33.2
4,"Aleutians East Borough, AK",0.738867,7.7,21.8,41.4,0.7,3.7,13.5,12.9

In [13]:
index_data.columns

Index(['Location', 'Diversity-Index',
       'Black or African American alone, percent, 2013',
       'American Indian and Alaska Native alone, percent, 2013',
       'Asian alone, percent, 2013',
       'Native Hawaiian and Other Pacific Islander alone, percent,',
       'Two or More Races, percent, 2013', 'Hispanic or Latino, percent, 2013',
       'White alone, not Hispanic or Latino, percent, 2013'],
      dtype='object')

# Clean DataFrames

In [3]:
# Create a new set of data with selected columns

new_index_data = index_data.copy()
new_index_data.head()

,Location,Diversity-Index,"Black or African American alone, percent, 2013","American Indian and Alaska Native alone, percent, 2013","Asian alone, percent, 2013","Native Hawaiian and Other Pacific Islander alone, percent,","Two or More Races, percent, 2013","Hispanic or Latino, percent, 2013","White alone, not Hispanic or Latino, percent, 2013"
0,"Aleutians West Census Area, AK",0.769346,7.4,13.8,31.1,2.3,4.8,14.6,29.2
1,"Queens County, NY",0.742224,20.9,1.3,25.2,0.2,2.7,28.0,26.7
2,"Maui County, HI",0.740757,0.8,0.6,28.8,10.6,23.3,10.7,31.5
3,"Alameda County, CA",0.740399,12.4,1.2,28.2,1.0,5.2,22.7,33.2
4,"Aleutians East Borough, AK",0.738867,7.7,21.8,41.4,0.7,3.7,13.5,12.9

In [4]:
# Iterate over the column location to separate the counties from the States
new_index_data['County'],new_index_data['State'] = index_data['Location'].str.rsplit(', ').str
new_index_data.head()

<ipython-input-4-46241c1fe437>:2: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  new_index_data['County'],new_index_data['State'] = index_data['Location'].str.rsplit(', ').str

,Location,Diversity-Index,"Black or African American alone, percent, 2013","American Indian and Alaska Native alone, percent, 2013","Asian alone, percent, 2013","Native Hawaiian and Other Pacific Islander alone, percent,","Two or More Races, percent, 2013","Hispanic or Latino, percent, 2013","White alone, not Hispanic or Latino, percent, 2013",County,State
0,"Aleutians West Census Area, AK",0.769346,7.4,13.8,31.1,2.3,4.8,14.6,29.2,Aleutians West Census Area,AK
1,"Queens County, NY",0.742224,20.9,1.3,25.2,0.2,2.7,28.0,26.7,Queens County,NY
2,"Maui County, HI",0.740757,0.8,0.6,28.8,10.6,23.3,10.7,31.5,Maui County,HI
3,"Alameda County, CA",0.740399,12.4,1.2,28.2,1.0,5.2,22.7,33.2,Alameda County,CA
4,"Aleutians East Borough, AK",0.738867,7.7,21.8,41.4,0.7,3.7,13.5,12.9,Aleutians East Borough,AK

In [5]:
# Group and rename the columns from index_data
grouping_data = pd.DataFrame({"Diversity-Index":new_index_data.groupby(["State","County"])["Diversity-Index"].mean(),
                       "Black":new_index_data.groupby(["State","County"])["Black or African American alone, percent, 2013"].mean(),
                       "American Indian":new_index_data.groupby(["State","County"])["American Indian and Alaska Native alone, percent, 2013"].mean(),
                       "Asian":new_index_data.groupby(["State","County"])["Asian alone, percent, 2013"].mean(),
                       "Native Hawaiian":new_index_data.groupby(["State","County"])["Native Hawaiian and Other Pacific Islander alone, percent,"].mean(),
                       "Two or More Races":new_index_data.groupby(["State","County"])["Two or More Races, percent, 2013"].mean(),
                       "Hispanic/ Latino":new_index_data.groupby(["State","County"])["Hispanic or Latino, percent, 2013"].mean(),
                       "White":new_index_data.groupby(["State","County"])["White alone, not Hispanic or Latino, percent, 2013"].mean()})




grouping_data.head()

                                  Diversity-Index  Black  American Indian  \
State County
AK    Aleutians East Borough             0.738867    7.7             21.8
      Aleutians West Census Area         0.769346    7.4             13.8
      Anchorage Municipality             0.601515    6.3              8.1
      Bethel Census Area                 0.315556    0.7             81.8
      Bristol Bay Borough                0.648271    0.0             33.8

                                  Asian  Native Hawaiian  Two or More Races  \
State County
AK    Aleutians East Borough       41.4              0.7                3.7
      Aleutians West Census Area   31.1              2.3                4.8
      Anchorage Municipality        8.9              2.3                7.8
      Bethel Census Area            1.0              0.3                4.1
      Bristol Bay Borough           1.1              0.3               17.5

                                  Hispanic/ Latino  White
State County
AK    Aleutians East Borough                  13.5   12.9
      Aleutians West Census Area              14.6   29.2
      Anchorage Municipality                   8.6   60.5
      Bethel Census Area                       1.6   11.5
      Bristol Bay Borough                      3.9   45.3

In [46]:
new_index_data["State"]= new_index_data["State"].astype(str)

## Extract the 2016 Median Income Data

In [81]:
income_data = "Resources/Median_Income.csv"
median_data = pd.read_csv(income_data)
median_data.head()

           State  Median income
0  United States          59039
1        Alabama          47221
2         Alaska          75723
3        Arizona          57100
4       Arkansas          45907

In [48]:
# Check if States are unique
median_data['State']. unique().tolist()

['United States',
 'Alabama',
 'Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'District of Columbia',
 'Florida',
 'Georgia',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming']

In [49]:
# For uniformity, group the data to change the states to match the data in the new_index_data Dataframe

state_list = {
   'Alabama': 'AL',
   'Alaska': 'AK',
   'Arizona': 'AZ',
   'Arkansas': 'AR',
   'California': 'CA',
   'Colorado': 'CO',
   'Connecticut': 'CT',
   'Delaware': 'DE',
   'Florida': 'FL',
   'Georgia': 'GA',
   'Hawaii': 'HI',
   'Idaho': 'ID',
   'Illinois': 'IL',
   'Indiana': 'IN',
   'Iowa': 'IA',
   'Kansas': 'KS',
   'Kentucky': 'KY',
   'Louisiana': 'LA',
   'Maine': 'ME',
   'Maryland': 'MD',
   'Massachusetts': 'MA',
   'Michigan': 'MI',
   'Minnesota': 'MN',
   'Mississippi': 'MS',
   'Missouri': 'MO',
   'Montana': 'MT',
   'Nebraska': 'NE',
   'Nevada': 'NV',
   'New Hampshire': 'NH',
   'New Jersey': 'NJ',
   'New Mexico': 'NM',
   'New York': 'NY',
   'North Carolina': 'NC',
   'North Dakota': 'ND',
   'Ohio': 'OH',
   'Oklahoma': 'OK',
   'Oregon': 'OR',
   'Pennsylvania': 'PA',
   'Rhode Island': 'RI',
   'South Carolina': 'SC',
   'South Dakota': 'SD',
   'Tennessee': 'TN',
   'Texas': 'TX',
   'Utah': 'UT',
   'Vermont': 'VT',
   'Virginia': 'VA',
   'Washington': 'WA',
   'West Virginia': 'WV',
   'Wisconsin': 'WI',
   'Wyoming': 'WY',
}

In [50]:
new_median_data = median_data

for key, value in state_list.items():
    new_median_data.loc[new_median_data['State']==key,'State'] = value
    
new_median_data.head()

           State  2016 Median income
0  United States               59039
1             AL               47221
2             AK               75723
3             AZ               57100
4             AR               45907

In [54]:
new_median_data = pd.DataFrame({"Median Income Rate":new_median_data.groupby(["State"])["2016 Median income"].mean()})

new_median_data.head()

       Median Income Rate
State
AK                  75723
AL                  47221
AR                  45907
AZ                  57100
CA                  66637

In [59]:
## Data Merging
median_index_data = pd.merge(new_median_data, grouping_data, on=["State"],how="inner")
median_index_data.head()

,Median Income Rate,Diversity-Index,Black,American Indian,Asian,Native Hawaiian,Two or More Races,Hispanic/ Latino,White
State,,,,,,,,,
AK,75723,0.738867,7.7,21.8,41.4,0.7,3.7,13.5,12.9
AK,75723,0.769346,7.4,13.8,31.1,2.3,4.8,14.6,29.2
AK,75723,0.601515,6.3,8.1,8.9,2.3,7.8,8.6,60.5
AK,75723,0.315556,0.7,81.8,1.0,0.3,4.1,1.6,11.5
AK,75723,0.648271,0.0,33.8,1.1,0.3,17.5,3.9,45.3

In [64]:
median_index_data.stack()

State
AK     Median Income Rate    75723.000000
       Diversity-Index           0.738867
       Black                     7.700000
       American Indian          21.800000
       Asian                    41.400000
                                 ...
WY     Asian                     0.300000
       Native Hawaiian           0.000000
       Two or More Races         2.100000
       Hispanic/ Latino          3.800000
       White                    92.200000
Length: 28278, dtype: float64

In [71]:
# Reset the index
median_index_data_reset = median_index_data.reset_index() 
median_index_data_reset.head()

,State,Median Income Rate,Diversity-Index,Black,American Indian,Asian,Native Hawaiian,Two or More Races,Hispanic/ Latino,White
0,AK,75723,0.738867,7.7,21.8,41.4,0.7,3.7,13.5,12.9
1,AK,75723,0.769346,7.4,13.8,31.1,2.3,4.8,14.6,29.2
2,AK,75723,0.601515,6.3,8.1,8.9,2.3,7.8,8.6,60.5
3,AK,75723,0.315556,0.7,81.8,1.0,0.3,4.1,1.6,11.5
4,AK,75723,0.648271,0.0,33.8,1.1,0.3,17.5,3.9,45.3

In [75]:
# Rename the columns to be exported to postgres

median_index_data_rename = median_index_data_reset.rename(columns={"Median Income Rate":"IncRate",
                                               "Diversity-Index":"DivIndex",
                                               "Hispanic/ Latino":"Latino",
                                               "American Indian":"Indians",
                                               "Native Hawaiian":"Hawaiian",
                                               "Two or More Races":"Races"})
median_index_data_rename.head()

,State,IncRate,DivIndex,Black,Indians,Asian,Hawaiian,Races,Latino,White
0,AK,75723,0.738867,7.7,21.8,41.4,0.7,3.7,13.5,12.9
1,AK,75723,0.769346,7.4,13.8,31.1,2.3,4.8,14.6,29.2
2,AK,75723,0.601515,6.3,8.1,8.9,2.3,7.8,8.6,60.5
3,AK,75723,0.315556,0.7,81.8,1.0,0.3,4.1,1.6,11.5
4,AK,75723,0.648271,0.0,33.8,1.1,0.3,17.5,3.9,45.3

In [84]:
median_index_data_rename.to_csv("mediantable.csv",index=False)

## Connect to local Database

In [6]:
# Create the database then run SQL script to crate tables
rds_connection_string = "postgres:112524@localhost:5432/ETL_Project"
engine = create_engine(f'postgresql://{rds_connection_string}')

# Check for tables

In [7]:
engine.table_names()

['median_index']

In [9]:
con = engine.connect()

## Use pandas to load csv converted DataFrame into database

In [11]:
# Importing from Postgres into Pandas Dataframe

median_data= pd.read_sql("SELECT * FROM median_index",con)
median_data.head()

,state,incrate,divindex,black,indians,asian,hawaiian,races,latino,white
0,AK,75723.0,0.738867,7.7,21.8,41.4,0.7,3.7,13.5,12.9
1,AK,75723.0,0.769346,7.4,13.8,31.1,2.3,4.8,14.6,29.2
2,AK,75723.0,0.601515,6.3,8.1,8.9,2.3,7.8,8.6,60.5
3,AK,75723.0,0.315556,0.7,81.8,1.0,0.3,4.1,1.6,11.5
4,AK,75723.0,0.648271,0.0,33.8,1.1,0.3,17.5,3.9,45.3

## Store CSV int DataFrame

# Cleaning the DataFrames

In [ ]:
# Create a new set of data for the 2009 year with selected columns

new_heart_disease_data = heart_disease_data[['id', 'age', 'sex', 'chol']].copy()
new_heart_disease_data.head()

## Difference in Salary from 2007 to 2009

In [14]:
# For that, compute the average salary

# Check for tables

In [25]:
engine.table_names()

['mls_salaries_2007', 'heart_disease']

## Use pandas to load csv converted DataFrames into database

In [ ]:
new_mls_07_data.to_sql(name='mls_salaries_2007', con=engine, if_exists='append', index=False)

## Use pandas to load csv converted DataFrames into database

In [ ]:
new_heart_disease_data.to_sql(name='heart_disease', con=engine, if_exists='append', index=False)

## Confirm data has been added by querying the mls_salaries_2007 table

In [ ]:
pd.read_sql_query('select * from mls_salaries_2007', con=engine).head()

In [ ]:
SELECT MAX(id) FROM mls_07_data;

In [ ]:
SELECT nextval('the_primary_key_sequence');